/* style.css */

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: content-box;

}

/* style.css */

.hero{
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden; /* Hide overflowing video */
    text-align: center;
    color: #fff
}

/* Style the video element to cover the entire container */
.hero video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Scale video to cover the container */
    z-index: -1; /* Place the video behind other content */
    opacity: 0.8;
}

 /* Add a linear gradient overlay */
 .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(255, 133, 27), rgb(238,62,56)); /* Adjust gradient colors and opacity as needed */
    z-index: 0; /* Place the overlay behind other content */
}

nav{
    width: 100%;
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.logo{
    width: 140px;
    border-radius: 10%;
    cursor: pointer;
}

.btn{
    background:linear-gradient( #ffa62e, #EE3E38);
    color: #fff;
    font-size: 16px;
    padding:16px 30px;
    border-radius:30px;
    border:0;
    outline: 0;
    cursor: pointer;
}
.content{
    margin:30% auto 0;

}
.content h1{
    font-size:65px;
    font-weight: 400;
    color:#ffa62e;
}

.content h1 span{
    font-weight: 700;
    color:#ffa62e;
}

form{
    width: 90%;
    max-width: 600px;
    height: 65px;
    background: #fff;
    margin: auto;
    display: flex;
    align-items: center;
    border-radius: 40px;
    margin-top: 40px;
    margin-bottom: 20px;
}

form input{
    flex:1;
    padding:20px 30px;
    font-size: 16px;
    border: 0;
    outline: 0;
    background: transparent;
}
form .btn{
    padding:0;
    width: 150px;
    height: 65px;
    border-radius: 31px;
}

form input::placeholder{
    font-size: 16px;
}

